*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #b9bfc5;
    font-family:monospace;
    font-style:oblique;
    font-size: medium;
    outline: none;
}
.Container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Calculator{
    background-color:gradient(72,85,65,80);
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 3px 2px 7px #0f0e0e, 3px 2px 7px  rgba(173, 53, 53, 0.16);
    display: grid;
    grid-template-columns: repeat(4,70px);

}
input{
    grid-column: span 4;
    height: 75px;
    width: 260px;
    box-shadow: inset -5px -5px 12px #0a0a0a ,
                inset 5px 5px 35px rgba(44, 43, 43, 0.16);
    border: none;
    border-radius: 30px;
    color: rgb(7, 7, 7);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 10px;
}
button{
    height: 50px;
    width: 50px;
    background-color: #75797c;
    box-shadow:-5px -5px 12px #0e0d0d , 5px 5px 12px rgba(5, 5, 5, 0.16);
    border: none;
    border-radius: 50px;
    margin: 8px;
    font-size: 15px;

}

.equal{
    width: 60px;
    border-radius: 40px;
    background-color: #75797c;
    box-shadow:-5px -5px 12px#0c0c0c ,5px 5px 12px rgba(196, 196, 199, 0.16);
    border: none;
    border-radius: 50px;
    margin: 8px;
    font-size: 15px;
    padding: 2px;
}
